tencentcloud_secret_id     = "{{ tencentcloud_secret_id }}"
tencentcloud_secret_key    = "{{ tencentcloud_secret_key }}"
do_token                   = "{{ do_token }}"
datadog_api_url            = "https://api.{{ datadog_site }}"
datadog_api_key            = "{{ datadog_api_key }}"
datadog_app_key            = "{{ datadog_app_key }}"
ssh_public_key_file        = "{{ ssh_public_key_file }}"
ssh_private_key_file       = "{{ ssh_private_key_file }}"
