tencentcloud_secret_id     = "{{ tencentcloud_secret_id }}"
tencentcloud_secret_key    = "{{ tencentcloud_secret_key }}"
do_token                   = "{{ do_token }}"
ssh_public_key_file        = ""
ssh_private_key_file       = ""
